<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Kippt Reader</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}js/html5shiv.js"></script>
    <![endif]-->

    <link href="{{ STATIC_URL }}css/app.css" rel="stylesheet">
  </head>
    <body>
        {% block body %}{% endblock %}


        <!-- Load JS here for greater good =============================-->
        <script src="{{ STATIC_URL }}js/jquery-1.8.2.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery-ui-1.10.0.custom.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.dropkick-1.0.0.js"></script>
        <script src="{{ STATIC_URL }}js/custom_checkbox_and_radio.js"></script>
        <script src="{{ STATIC_URL }}js/custom_radio.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.tagsinput.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-tooltip.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.placeholder.js"></script>
        <script src="http://vjs.zencdn.net/c/video.js"></script>
        <script src="{{ STATIC_URL }}js/application.js"></script>
        <!--[if lt IE 8]>
            <script src="{{ STATIC_URL }}js/icon-font-ie7.js"></script>
            <script src="{{ STATIC_URL }}js/icon-font-ie7-24.js"></script>
        <![endif]-->
    </body>
</html>
