<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li>
                        <a href="/">Feed to Kippt</a>
                    </li>
                    <li>
                        <a href="{% url 'feeds_list' %}">Feeds</a>
                    </li>
                    <li>
                        <a href="{% url 'auth_setup' %}">Setup</a>
                    </li>
                    <li>
                        <a href="{% url 'auth_logout' %}">Logout</a>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>