{% extends 'base.html' %}

{% load widget_tweaks %}

{% block body %}
    {% if kipptuser %}
    <div class="container">
        {% include "navbar.html" %}
        <div class="row">
            <div class="span6">
                <h1>Setup</h1>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-wrapper palette-clouds">

                        {% if form.errors %}
                        <div class="control-group error">
                            <p>{{ form.non_field_errors.0 }}</p>
                        </div>
                        {% endif %}

                        <div class="control-group {% if form.list_id.errors %}error{% endif %}">
                            <label for="{{ form.list_id.auto_id }}">{{ form.list_id.label }}</label>
                            {{ form.list_id|add_class:"span5" }}
                        </div>

                        <div class="control-group">
                            <input type="submit" class="btn btn-large btn-primary" value="Submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% else %}
    <div class="login-wrapper">
        <div class="login-screen">

            <div class="login-icon">
                <a class="logo" href="/">
                    <img src="{{ STATIC_URL }}images/logo.png" alt="">
                </a>
                <h4>Welcome to <small>Feedleap</small></h4>
                <p>FeedLeap(RSS feeds that leap into Kippt?) lets you subscribe to your favorite RSS feeds and store new entries as Clips in any Kippt List you want. Clips are stored with a url, title, and a summary.</p>
                <p>To get started you need to enter your Kippt credentials. We <strong>don't</strong> store your password. We use your credentials to authenticate to Kippt and interchange it with your API Token as stated <a href="https://kippt.com/developers/">here</a>.</p>
            </div>

            <form method="POST">
                {% csrf_token %}
                <div class="login-form palette-clouds">

                    {% if form.errors %}
                    <div class="control-group error">
                        <p>{{ form.non_field_errors.0 }}</p>
                    </div>
                    {% endif %}

                    <div class="control-group {% if form.username.errors %}error{% endif %}">
                        {{ form.username|add_class:"login-field"|attr:"placeholder:Enter your Kippt username"}}
                        <label class="login-field-icon fui-man-16" for="{{ form.username.auto_id }}"></label>
                    </div>

                    <div class="control-group {% if form.password.errors %}error{% endif %}">
                        {{ form.password|add_class:"login-field"|attr:"placeholder:Enter your Kippt password or API Token"}}
                        <label class="login-field-icon fui-lock-16" for="{{ form.password.auto_id }}"></label>
                    </div>

                    <input type="submit" class="btn btn-large btn-block btn-primary" value="Connect">
                    <p class="about">Hacked together by <a href="http://jpadilla.com">José Padilla</a>.</p>
                </div>
            </form>
            <div class="social">
                <iframe src="{% url 'github_btn' %}?user=jpadilla&repo=feedleap&type=fork&count=true"
                allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
                <iframe src="{% url 'github_btn' %}?user=jpadilla&repo=feedleap&type=watch&count=true"
                allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
            </div>
        </div>
    </div>

    <!-- SubToMe -->
    <iframe style="display:none;" src='https://www.subtome.com/register.html?name=FeedLeap&url={{ subtome_url|urlencode }}' />

    {% endif %}
{% endblock %}